*.class

.project
.settings
.classpath
target
alf_data_dev

# Ignoring backup files that mergetool meld creates
*.LOCAL.*
*.BASE.*
*.BACKUP.*
*.REMOTE.*
*.orig

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

deploy-share.sh
